<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>servlet-demo-basic</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentDetailsCreationForm</display-name>
    <servlet-name>StudentDetailsCreationForm</servlet-name>
    <servlet-class>com.ebrain.controller.StudentDetailsCreationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsCreationForm</servlet-name>
    <url-pattern>/studentdetail-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentdetailSubmission</display-name>
    <servlet-name>StudentdetailSubmission</servlet-name>
    <servlet-class>com.ebrain.controller.StudentdetailSubmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentdetailSubmission</servlet-name>
    <url-pattern>/Studentdetail-submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>com.ebrain.controller.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_Address</display-name>
    <servlet-name>Customer_Address</servlet-name>
    <servlet-class>com.ebrain.controller.Customer_Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Address</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_Order</display-name>
    <servlet-name>Customer_Order</servlet-name>
    <servlet-class>com.ebrain.controller.Customer_Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_OrderItem</display-name>
    <servlet-name>Customer_OrderItem</servlet-name>
    <servlet-class>com.ebrain.controller.Customer_OrderItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_OrderItem</servlet-name>
    <url-pattern>/OrderItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomer</display-name>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>com.ebrain.controller.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.ebrain.controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
</web-app>